# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node modules
node_modules/
Backend/node_modules/
Frontend/node_modules/

# build files
dist/
Frontend/dist/
dist-ssr/

# env files (VERY IMPORTANT)
.env
Backend/.env
Frontend/.env

# local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?